<form @enterExit [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-title>Edit Todo</mat-card-title>
    <mat-card-subtitle>Please update your task details below.</mat-card-subtitle>
    <mat-card-content *ngIf="this.loaded">
      <p class="flex">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title" required />
          <mat-error *ngIf="editForm.controls.title.invalid">{{ getTitleError() }}</mat-error>
        </mat-form-field>
      </p>
      <p class="flex">
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea rows="5" matInput formControlName="description" required></textarea>
          <mat-error *ngIf="editForm.controls.description.invalid">{{ getDescriptionError() }}</mat-error>
        </mat-form-field>
      </p>
      <div class="controls">
        <mat-button-toggle-group formControlName="priority" appearance="legacy">
          <mat-button-toggle class="high" value="2">High</mat-button-toggle>
          <mat-button-toggle class="medium" value="1">Medium</mat-button-toggle>
          <mat-button-toggle class="low" value="0">Low</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <p>
        <mat-checkbox formControlName="completed">Completed</mat-checkbox>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex" style="align-items: end">
        <button [routerLink]="'/todos'" mat-button color="secondary">Back to list</button>
        <button [disabled]="!editForm.valid" type="submit" mat-raised-button color="primary">Save</button>
        <div class="spacer">
        </div>
        <button mat-raised-button color="warn" type="button" (click)="onDelete()"><mat-icon>delete</mat-icon> Delete</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
