/* Place spacing after the todo item as its displayed in a list */
.mat-card {
  margin-bottom: 20px;
}

/* Strike through the text of completed todo items */
.mat-card.completed {
  text-decoration: line-through;
}

/* Allow the content in the todo item to have white space */
.mat-card-content p {
  white-space: pre-wrap;
}

/* Styling for the priority chip */
.priority {
  font-size: 12px;
  border-radius: 5px;
  background-color: lightgray;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  min-width: 0!important;
  line-height: 1em;
}

.low {
  background-color: limegreen;
}

.medium {
  background-color: orange
}

.high {
  background-color: orangered;
}
